<div id="<%= dom_id church %>">
  <p>
    <strong>Name:</strong>
    <%= church.name %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= church.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= church.longitude %>
  </p>

</div>
